@{
    ViewBag.Title = "Indexr";
}
<div id="indexrIndexPage" class="">
    <div id="indexrAddPane">
        @Html.ActionLink("Add Indexr", "Add", "Indexr", null, new { @id = "lnkAddIndexr", @class = "btn-small" })
    </div>
    <div class="divider">
    </div>
    <div id="indexrGridPane">
    </div>
</div>
@section myTweets
{
}
@section myBlogs
{
}
@section myProjects
{
}
@section appScripts
{
    <script src="@Url.Content("~/Scripts/App/app-jq.js")" type="text/javascript"></script>
}
